{% extends 'main.html' %} {% block content %}
<div>
  <h1 class="heading"><b data-i18n="stats"></b></h1>
</div>
<div class="stats">
  <div class="slider_div">
    Pong TTT
    <br />
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
  </div>
  <div class="stats_left">
    <div class="stats_heading">
      <h2><b data-i18n="history"></b></h2>
    </div>
    {% for game in game_history %}
    <div
      class="stats_game {% if game.result == 'win' %}stats_win{% elif game.result == 'lose' %}stats_lose{% else %}stats_draw{% endif %}"
    >
      <h2 class="stats_result">{{ game.result }}</h2>
      <p class="stats_stand"><b data-i18n="result"></b> {{ game.score }}</p>
      {% if game.against|length > 8 %}
      <p class="stats_against"><b data-i18n="against"></b> {{ game.against|slice:":10" }}...</p>
      {% else %}
      <p class="stats_against"><b data-i18n="against"></b> {{ game.against }}</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="stats_right">
    <div class="stats_heading">
      <h2><b data-i18n="results"></b></h2>
    </div>
    <div class="graphs">
      <div class="">
        <p class="graph_text">
          <span class="graph_win"><b data-i18n="wins"></b></span>
          <span class="grap_draw"><b data-i18n="draws"></b></span>
          <span class="graph_lose"><b data-i18n="losses"></b></span>
        </p>
        <canvas id="donutGraph1"></canvas>
      </div>
      <div>
        <p class="graph_text">
          <span class="graph_close"><b data-i18n="close_wins"></b></span>
          <span class="grap_easy"><b data-i18n="easy_wins"></b></span>
        </p>
        <canvas id="donutGraph2"></canvas>
      </div>
    </div>
    <div class="graph_line">
      <p class="graph_text line_text"><b data-i18n="wins"></b></p>
      <canvas id="lineGraph" class="graph_line"></canvas>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const slider = document.querySelector('.switch input[type="checkbox"]');

    var p_wins = {{ pong_win }};
    var p_draws = {{ pong_draw }};
    var p_losses = {{ pong_lose }};

    var r_wins = {{ rps_win }};
    var r_draws = {{ rps_draw }};
    var r_losses = {{ rps_lose }};

    var wins = p_wins;
    var draws = p_draws;
    var losses = p_losses;

    // Check the initial state
    let currentGame = slider.checked ? 'rps' : 'pong';
    const chart = new Chart(document.getElementById('donutGraph1'), {
        type: 'doughnut',
        data: {
        datasets: [{
          data: [wins, losses, draws],
          backgroundColor: ['#277027', '#962b2b', '#414141']
        }]
        },
        options: {}
      });
    slider.addEventListener('change', function() {
      chart.destroy();
    // Update currentGame based on slider state
    currentGame = slider.checked ? 'rps' : 'pong';

    // Update wins, draws, and losses based on currentGame
    wins = currentGame === 'pong' ? p_wins : r_wins;
    draws = currentGame === 'pong' ?  p_draws :  r_draws;
    losses = currentGame === 'pong' ?  p_losses :  r_losses;
    console.log(wins, draws, losses);
          // Donut graph for wins, losses, draws
    const chart = new Chart(document.getElementById('donutGraph1'), {
      type: 'doughnut',
      data: {
      datasets: [{
        data: [wins, losses, draws],
        backgroundColor: ['#277027', '#962b2b', '#414141']
      }]
      },
      options: {}
    });
  });
</script>

<script src="../../static/languages/translate.js"></script>

{% endblock content %}
