<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <title>transcendence</title>
  </head>
  <body>
    <div class="home">
      <div class="logo">
        <img src="../../static/assets/img/logo.png" alt="logo" />
      </div>
      <div class="home_left">
        <h1 class="heading">Welcome to transcendence</h1>
        <p>
          This is a simple web application that allows you to play a game of
          Rock-Paper-Scissors with your friends. You can also chat with them
          while playing the game.
        </p>
        <div class="home_button">
          <button>
            <a href="{% url 'login' %}" class="button">Login</a>
          </button>
        </div>
      </div>
      <div class="home_right">
        <img
          class="home_img"
          src="../../static/assets/img/login.svg"
          alt="play"
        />
      </div>
    </div>
  </body>
</html>
