<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
    <title>Transcendence</title>
  </head>
  <body>
  
  	<nav>
		<ul>
			<br>
			<li><a href="./" onclick="changeLanguage('en')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
			English</a></li>
			<li><a href="./" onclick="changeLanguage('de')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
			Deutsch</a></li>
			<li><a href="./" onclick="changeLanguage('it')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
			Italiano</a></li>
		</ul>
	</nav>
	
    <div class="home">
      <div class="logo">
        <img src="../../static/assets/img/logo.png" alt="logo" />
      </div>
      <div class="home_left">
	    <h1 data-i18n="welcome_message"></h1>
		<p data-i18n="about"></p>
        <div class="home_button">
          <button>
			<a href="{% url 'login' %}" class="button"><b data-i18n="login"></b></a>
          </button>
        </div>
      </div>
      <div class="home_right">
        <img
          class="home_img"
          src="../../static/assets/img/login.svg"
          alt="play"
        />
      </div>
    </div>
	
	<script src="../../static/languages/translate.js"></script>
  </body>
</html>