<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <link
      rel="shortcut icon"
      href="../../static/images/favicon.ico"
      type="image/x-icon"
    />
    <title>Transcendence</title>
  </head>
  <body>
    <iframe
      class="iframe"
      width="1400"
      height="700"
      src="/home/"
      title="SPA"
      frameborder="0"
      allow="clipboard-write; 
			encrypted-media; 
			gyroscope; 
			picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </body>
</html>
