<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <title>transcendence</title>
  </head>
  <body>
    {% include './navbar.html'%}
    <div class="games">
      <div class="logo">
        <img src="../../static/assets/img/logo.png" alt="logo" />
      </div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% block content %} {% endblock %}
    </div>
  </body>
</html>
