{% extends 'main.html' %} {% block content %}

<span data-typeId="player_1" data-type="player_1" data-status={{p1_status}} data-score={{p1_score}} data-name="{{player_1}}" id="p1"></span>
<span data-typeId="player_2" data-type="player_2" data-status={{p2_status}} data-score={{p2_score}} data-name="{{player_2}}" id="p2"></span>
<span data-typeId="player_3" data-type="player_3" data-status={{p3_status}} data-score={{p3_score}} data-name="{{player_3}}" id="p3"></span>
<span data-typeId="player_4" data-type="player_4" data-status={{p4_status}} data-score={{p4_score}} data-name="{{player_4}}" id="p4"></span>
<span data-typeId="match" data-type="match" data-n_player_1="{{n_player_1}}" data-n_player_2="{{n_player_2}}" data-match_id={{match_id}} id="history"></span>

<center>
<p data-i18n="next" id="toggle"></p> <b id="toggle2">{{n_player_1}}</b> <b data-i18n="versus" id="toggle3"></b> <b id="toggle4">{{n_player_2}}</b><br>
<p data-i18n="please" id="toggle5"></p>
<form action="/pong_tournament_game_4/" method="GET" class="modal_form hidden">
    {% csrf_token %}
    <input type="submit" value="OK" class="submit_button" id="toggle6"/>
</form>
</center>

<div class="pong_tournament">
  <canvas
    id="pong_tournament_small"
	class="tournament_1"
	width="1000"
    height="600"
  ></canvas>
  {% load static %}
  <script src="{% static 'js/pong_tournament.js' %}?v={{ timestamp }}"></script>
</div>

<script>
if ({{match_id}} >= 4) {
	document.getElementById('toggle').style.visibility = 'hidden';
	document.getElementById('toggle2').style.visibility = 'hidden';
	document.getElementById('toggle3').style.visibility = 'hidden';
	document.getElementById('toggle4').style.visibility = 'hidden';
	document.getElementById('toggle5').style.visibility = 'hidden';
	document.getElementById('toggle6').style.visibility = 'hidden';
}
</script>

<script src="../../static/languages/translate.js"></script>

{% endblock content %}