<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pong Game</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      canvas {
        border: 2px solid white;
      }
    </style>
  </head>
  <body>
    <canvas id="gameCanvas" width="800" height="400"></canvas>
    {% load static %}
    <script src="{% static 'js/pong_game.js' %}?v={{ timestamp }}"></script>
  </body>
</html>
