{% extends 'main.html' %} {% block content %}
<link rel="stylesheet" href="../../static/css/rps.css" />
<div class="container">
  <header class="header">
    <img
      src="../../static/assets/rps_images/logo.svg"
      alt="logo"
      class="logo_rps"
    />
    <div class="score">
      <div class="score__title"><b data-i18n="score"></b></div>
      <div class="score__number">0</div>
    </div>
  </header>
  <section class="game">
    <button class="choice-btn" data-choice="paper">
      <div class="choice paper">
        <img src="../../static/assets/rps_images/icon-paper.svg" alt="Paper" />
      </div>
    </button>
    <button class="choice-btn" data-choice="scissors">
      <div class="choice scissors">
        <img
          src="../../static/assets/rps_images/icon-scissors.svg"
          alt="Scissors"
        />
      </div>
    </button>
    <button class="choice-btn" data-choice="rock">
      <div class="choice rock">
        <img src="../../static/assets/rps_images/icon-rock.svg" alt="Rock" />
      </div>
    </button>
  </section>
</div>

<section class="results hidden">
  <h2 class="results__heading"><b data-i18n="you_picked"></b></h2>
  <h2 class="results__heading"><b data-i18n="house_picked"></b></h2>
  <div class="results__result"></div>
  <div class="results__winner hidden">
    <h3 class="results__text"></h3>
    <button class="play-again"><b data-i18n="play_again"></b></button>
  </div>
  <div class="results__result"></div>
</section>

<button class="rules-btn" tabindex="1"><b data-i18n="rules"></b></button>
<div class="modal">
  <div class="modal__container">
    <header class="modal__header">
      <h2 class="modal__heading"><b data-i18n="rules"></b></h2>
      <button class="close-btn">
        <img
          src="../../static/assets/rps_images/icon-close.svg"
          alt="Close Button"
        />
      </button>
    </header>
    <img
      src="../../static/assets/rps_images/image-rules.svg"
      alt="Rules Image"
      class="rules-img"
    />
  </div>
  <script src="../../static/js/rps2.js" defer></script>

<script src="../../static/languages/translate.js"></script>

  {% endblock content %}
</div>
